<div class="container">
  <div class="column">
    <h1>Built in Component</h1>
    <img
      ngSrc="../assets/sample.jpg"
      width="500"
      height="335"
      alt="Sample"
      priority="true"
    />
    <img ngSrc="../assets/sample2.jpg" width="500" height="500" alt="Sample" />
    <img ngSrc="../assets/sample3.jpg" width="500" height="306" alt="Sample" />
  </div>
  <div class="column">
    <h1>Cloudinary Image</h1>
    <img
      width="500"
      src="https://res.cloudinary.com/tamas-demo/image/upload/w_500,f_webp,q_auto/img-component/sample.jpg"
      alt="Sample Image"
    />
    <img
      width="500"
      src="https://res.cloudinary.com/tamas-demo/image/upload/w_500,f_webp,q_auto/img-component/sample2.jpg"
      alt="Sample Image"
    />
    <img
      width="500"
      src="https://res.cloudinary.com/tamas-demo/image/upload/w_500,f_webp,q_auto/img-component/sample3.jpg"
      alt="Sample Image"
    />
  </div>
</div>
